<fieldset class="triangulate-registration">

	<form name="triangulateRegistrationForm" novalidate>

		<div ng-show="showSuccess" class="alert registration-success alert-success">{{success}}</div>
		<div ng-show="showError" class="alert registration-error alert-danger">{{error}}</div>
	
		<div class="form-group">
			<label class="control-label">{{'First Name'}}</label>
			<input type="text" autocomplete="off" class="form-control"
				ng-model="user.FirstName" required>
		</div>
		
		<div class="form-group">
			<label class="control-label">{{'Last Name'}}</label>
			<input type="text" autocomplete="off" class="form-control"
				ng-model="user.LastName" required>
		</div>
	
		<div class="form-group">
			<label class="control-label">{{'Email'}}</label>
			<input type="email" autocomplete="off" class="form-control"
				ng-model="user.Email" required>
		</div>
		
		<div class="form-group">
			<label class="control-label">{{'Password'}}</label>
			<input type="password" autocomplete="off" class="form-control"
				ng-model="user.Password" required>
		</div>
		
		<span class="actions">
			
			<button class="btn btn-default"
				ng-click="register(user)"
				ng-disabled="triangulateRegistrationForm.$invalid || isUnchanged(user)">
					{{button}} <i ng-show="showLoading" class="fa fa-angle-right fa-white"></i>
				</button>
		</span>
	
	</form>
	
</fieldset>