<section class="main">

    <nav>
        <a class="show-menu"><i class="fa fa-bars fa-lg"></i></a>
        
        <div class="fs-container">
    
			<div class="fs">
    
		        <ul>
		            <li 
		            	ng-class="{'active': (friendlyId == 'primary')}"
		            	ng-click="setFriendlyId('primary')"><a>{{'Primary'}}</a></li>
		        	<li ng-class="{'active': (friendlyId == 'footer')}"
		        		ng-click="setFriendlyId('footer')"><a>{{'Footer'}}</a></li>           
		            
		            <li ng-repeat="menuType in menuTypes"
		        		ng-class="{'active': (menuType.FriendlyId == friendlyId), 'has-action': (menuType.FriendlyId == friendlyId)}"> 
		    			<a ng-click="setFriendlyId(menuType.FriendlyId)">
		    				{{menuType.Name}}
		    			</a> 
						
			    		<i ng-click="showRemoveMenuType(menuType)"
			    			class="fa fa-minus-circle" 
			    			title="{{'Remove Menu Type' | i18next}}"></i>
		    		</li>
		    		
		    		<li class="add">
		    			<i ng-click="showAddMenuType()"
		    				class="fa fa-plus-circle" title="{{'Add Menu Type' | i18next}}"></i>
		    		</li>
		            
		        </ul>
		        
			</div>
			<!-- /.fs -->
        
        </div>
        <!-- /.fs-container -->
        
        <a class="primary-action show-tooltip" 
        	ng-click="showAddMenuItem()"
        	title="{{'Add Menu Item' | i18next}}"><i class="fa fa-plus-circle"></i></a>
    </nav>
	
	<div id="menuItemsList" class="list">
    
		<div class="listItem" 
    		ng-repeat="item in menuItems | filter: {Type: friendlyId} | orderBy: 'Priority': false"
    		ng-class="{'is-nested': (item.IsNested == 1)}"
    		data-id="{{item.MenuItemId}}">
    		
    		<a ng-click="showRemoveMenuItem(item)"
    			class="remove">
                <i class="fa fa-minus-circle"></i>
            </a>
            
            <span class="hook fa fa-arrows-v"></span>
            
    		<h2>
    			<span class="nested-left"
    				ng-click="toggleNested(item)"
    				ng-show="(item.IsNested == 1)">
	            	<i class="fa fa-angle-left arrow"></i> 
	            	<i class="fa fa-spinner fa-spin"></i>
	            </span> 
	            <span class="nested-right"
    				ng-click="toggleNested(item)"
    				ng-show="(item.IsNested == 0)">
	            	<i class="fa fa-angle-right arrow"></i> 
	            	<i class="fa fa-spinner fa-spin"></i>
	            </span>
    			<a ng-click="showEditMenuItem(item)">{{item.Name}}</a>
    		
				<span class="url">{{item.Url}}</span>   
    		</h2>
    		
    	</div>
    	<!-- /.listItem -->
    
	</div>
	<!-- /.list -->
    
    <p ng-show="loading" class="list-loading"><i class="fa fa-spinner fa-spin"></i> {{'Loading...' | i18next}}</p>
    
    <p ng-show="(menuItems | filter: {Type: friendlyId}).length == 0" class="list-none">{{'No menu items here. Click Add Menu Item to get started.' | i18next}}</p>
    
    <div class="actions">
        <button class="primary-button" type="button"
        	ng-click="publish()">{{'Publish'}}</button>
    </div>
</section>
<!-- /.main -->

<!-- begin add/edit dialog -->
<div class="modal fade" id="addEditDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3 class="add">{{'Add Menu Item'}}</h3>
				<h3 class="edit">{{'Update Menu Item'}}</h3>
			</div>
			<!-- /.modal-header -->
			
			<form id="menuItemForm">
			
			<div class="modal-body">
			
				<div class="form-group">
					<label for="url" class="control-label">{{'Url'}}</label>
					<input id="url" 
						ng-model="temp.Url"
						type="text" class="form-control" required>
						
					<div class="input-select">
					    <button class="btn dropdown-toggle" data-toggle="dropdown">
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu dropdown-menu-right">
					    	<li ng-repeat="page in pages" 
					    		ng-click="setUrl(page)">
					    		<a>
								{{page.Name}}
								<small>{{page.Url}}</small>
					    		</a>
							</li>
					    </ul>
					</div>	
				</div>
	
				<div class="form-group">
					<label for="name" class="control-label">{{'Name'}}</label>
					<input id="name" type="text" 
						ng-model="temp.Name"
						maxlength="140" class="form-control" required>
				</div>
			
				<div class="form-group">
					<label for="cssClass" class="control-label">{{'CSS Class'}}</label>
					<input id="cssClass" type="text" 
						ng-model="temp.CssClass"
						maxlength="140" class="form-control">
				</div>
				
		
			</div>
			<!-- /.modal-body -->

			<div class="modal-footer">
				<button class="secondary-button" data-dismiss="modal">{{'Close'}}</button>
				<button class="primary-button add"
					ng-click="addMenuItem(temp)"
					ng-disabled="menuTypeForm.$invalid || isUnchanged(temp)">{{'Add Menu Item'}}</button>
				<button class="primary-button edit"
					ng-click="editMenuItem(temp)">{{'Update Menu Item'}}</button>
			</div>
			<!-- /.modal-footer -->
			
			</form>

		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->

<div class="modal fade" id="removeMenuItemDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>{{'Remove Menu Item'}}</h3>
			</div>
			
			<div class="modal-body">
			
				<p>
					{{'Confirm that you want to remove'}} <strong>{{temp.Name}}</strong>
				</p>
			
			</div>
			<div class="modal-footer">
				<button class="secondary-button" data-dismiss="modal">{{'Close'}}</button>
				<button class="primary-button" 
					ng-click="removeMenuItem(temp)">{{'Remove Menu Item'}}</button>
			</div>
			<!-- /.modal-footer -->

		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->

<div class="modal fade" id="menuTypeDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">
		
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>{{'Add Menu Type'}}</h3>
			</div>
			<!-- /.modal-header -->
			
			<form id="menuTypeForm">
			
			<div class="modal-body">
			
			<div class="form-group">
				<label for="menuTypeName" class="control-label">{{'Name'}}</label>
				<input id="menuTypeName" 
					ng-model="temp.Name"
					ng-keyup="createFriendlyId(temp)"
					value="" maxlength="50" class="form-control">
			</div>
			
			<div class="form-group">
				<label for="menuTypeFriendlyId" class="control-label">{{'Friendly Id'}}</label>
				<input id="menuTypeFriendlyId" 
					ng-model="temp.FriendlyId"
					value="" maxlength="50" class="form-control">
				<span class="help-block">{{'Lowercase, no spaces, must be unique'}}</span>
			</div>
			
			</div>
			<!-- /.modal-body -->
			
			<div class="modal-footer">
				<button class="secondary-button" data-dismiss="modal">{{'Close'}}</button>
				<button class="primary-button" class="form-control"
					ng-click="addMenuType(temp)"
					ng-disabled="menuTypeForm.$invalid || isUnchanged(temp)">{{'Add Menu Type'}}</button>
			</div>
			<!-- /.modal-footer -->
			
			</form>
		
		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->

<div class="modal fade" id="removeMenuTypeDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">x</button>
				<h3>{{'Remove Menu Type'}}</h3>
			</div>
			<!-- /.modal-header -->
			
			<div class="modal-body">
			
				<p>
					{{'Are you sure that you want to delete'}} <strong>{{temp.Name}}</strong>?
				</p>
			
			</div>
			<!-- /.modal-body -->
			
			<div class="modal-footer">
				<button class="secondary-button" data-dismiss="modal">{{'Close'}}</button>
				<button class="primary-button"
					ng-click="removeMenuType(temp)">{{'Remove Menu Type'}}</button>
			</div>
			<!-- /.modal-footer -->
			
		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

</div>
<!-- /.modal -->