<section class="main">

    <nav>
        <a class="show-menu"><i class="fa fa-bars fa-lg"></i></a>
    
        <ul>
    	    <li class="static active"><a href="theme">{{'Themes'}}</a></li>
        </ul>
        
    </nav>

    <div id="themesList" class="image-list">
    
        <div class="image-item" ng-repeat="theme in themes" ng-class="{'active': (theme.id == themeId)}">
            <h2>{{theme.name}}</h2>
            
            <img ng-src="themes/{{theme.id}}/logo.png">
            
            <div class="secondary inactive-button" 
            	ng-click="showApply(theme)">{{'Select Theme' | i18next}}</div>
			<div class="active-button"
				ng-click="showReset(theme)">{{'Reset Theme' | i18next}}</div>
    		
        </div>
    
    </div>
    <!-- /.image-list -->

</section>
<!-- /.main -->

<div class="modal fade" id="applyDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">
		
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">×</button>
		        <h3>{{'Apply Theme'}}</span></h3>
		    </div>
		    <div class="modal-body">
		    
		    <p>
		    	{{'Confirm you want to apply:'}} <strong>{{temp.name}}</strong>
		    </p>
		    
		    <p>
		        {{'This will completely change the look and feel of your site and remove any custom changes you made to the layout and styles of the site.'}}
		    </p>
		    
		    </div>
		    <div class="modal-footer">
		    	<button class="secondary-button" data-dismiss="modal">{{'Close'}}</button>
		    	<button class="primary-button"
		    		ng-click="applyTheme(temp)">{{'Apply Theme'}}</button>
		    </div>
		    <!-- /.modal-footer -->
		
		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->

<div class="modal fade" id="resetDialog">

	<div class="modal-dialog">
	
		<div class="modal-content">

		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">×</button>
		        <h3>{{'Reset Theme'}}</span></h3>
		    </div>
		    <div class="modal-body">
		    
		    <p>
		        {{'Confirm you want to reset:'}} <strong>{{temp.name}}</strong>
		    </p>
		    
		    <p>
		        {{'This will override any custom changes you made to the Layout or Styles for the site.'}}
		    </p>
		    
		    </div>
		    <div class="modal-footer">
		        <button class="secondary-button" data-dismiss="modal">{{'Close'}}</button>
		    	<button class="primary-button"
		    		ng-click="resetTheme(temp)">{{'Reset Theme'}}</button>
		    </div>
		    <!-- /.modal-footer -->
		
		</div>
		<!-- /.modal-content -->
		
	</div>
	<!-- /.modal-dialog -->

  </div>
  <!-- /.modal-body -->

</div>
<!-- /.modal -->